:host {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-bg);
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    color: var(--clr-txt);
    background-image: linear-gradient(to top, rgb(220, 88, 108) 1%, var(--clr-bg) 12px, var(--clr-bg) 100%);

    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0.5em;
}

#buttons { 
    display: flex;
    gap: 1em;

    #home {
        
    }
}


#change.dark {
    background-color: lightslategray;
    color: black;
}

#change:hover {
    cursor: pointer;
}


.fit-header-title {
color: var(--clr-txt);
}



body{
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  background: #1e1e24;
  align-items: center;
  justify-content: center;
}

$speed: 0.5s;

.btn-flip{
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans';
  text-transform: uppercase;
  
  &:hover{
    
    &:after{
      opacity: 1;
      transform: translateY(0) rotateX(0);
    }
    
    &:before{
      opacity: 0;
      transform: translateY(50%) rotateX(90deg);
    }
  }
  
  &:after{
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #323237;
    display: block;
    transition: $speed;
    position: absolute;
    background: #adadaf;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
  }
  
  &:before{
    top: 0;
    left: 0;
    opacity: 1;
    color: #adadaf;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: $speed;
    position: relative;
    background: #323237;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
  }
}

.btn {
	background: #7C7C7C;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	min-width: 2em;
	padding: .5rem;
	text-transform: uppercase;
	width: auto;
	
	&:focus,
	&:hover {
		background: #BCBCBC;
	}
}

.btn.primary {
	background: #881400;
	
	&:focus,
	&:hover {
		background: #A81000;
	}
}

.btn.secondary {
	background: #005800;
	
	&:focus,
	&:hover {
		background: #006800;
	}
}

.btn.tertiary {
	background: #0000BC;
	
	&:focus,
	&:hover {
		background: #0000FC;
	}
}

@media only screen and (max-width: 767px) {
  h1 {
    display: none;
  }
}