<main id="main-head">
    <nav>
        <ul>
            <li><a routerLink="/home">Home</a><span class="material-symbols-outlined icon">
                arrow_back
                </span>
            </li>
            <li><a href="/home#about-me">About me</a><span class="material-symbols-outlined icon">
                arrow_back
                </span>
            </li>
            <li><a href="/home#games">Games</a><span class="material-symbols-outlined icon">
                arrow_back
                </span>
            </li>
        </ul>
    </nav>
    <section id="introduction">
        <h2> &lt; Hello <br> I am Andrej &gt;</h2>
        <p> <i class="fa fa-graduation-cap"></i> javaScript.<span class="light">developer</span> (<span class="yellow">junior</span>)</p>
    </section>
</main>
<main id="about-me">
    <section>
        <h2>Hi, I'am <span class="yellow">Andrej Mishev</span> , a <span class="red">passionate</span> front-end developer eager to showcase <span class="light-green">my skills</span> and projects.</h2> 
        <span class="material-symbols-outlined" id="click-more">
            subdirectory_arrow_right
        </span>
            <img src="../../../../assets/images/JavaScript-logo.png" id="hovered-text">
        <p>click <a routerLink="/cv" class="yellow">here</a> to see my <span class="red">CV</span></p>
        </section> 
        
</main>
<main id="games">
    <h2>Here are some of my Projects</h2>
    <ul>
        <li><a routerLink="/games/capital-city" id="capital">CAPITAL</a></li>
        <li><a routerLink="/games/fit-tracker" id="fitness">FITNESS</a></li>
        <li><a routerLink="/games/tic-tac-toe" id="tictactoe">TICTACTOE</a></li>
        <li><a routerLink="/games/calculator" id="calculator">CALCULATOR</a></li>
    </ul>
</main>