
<ul>
    <li>
        <div>
            <a routerLink="/games/tic-tac-toe" (mouseenter)="playSound()">TicTac</a>
        </div>
    </li>
    <li>
        <div>
            <a routerLink="/games/fit-tracker" (mouseenter)="playSound()">FitTracker</a>
        </div>
    </li>
    <li>
        <div>
            <a routerLink="/games/calculator" (mouseenter)="playSound()">Calc</a>
        </div>
    </li>
    <li>
        <div>
            <a routerLink="/games/capital-city" (mouseenter)="playSound()">Capital</a>
        </div>
    </li>
    <li>
        <div>
            <a routerLink="/games/dogbreed" (mouseenter)="playSound()">DogBreed</a>
        </div>
    </li>
</ul>
