:host {
    background-color: #FFC107;
    
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    padding: 1em;
    
    border-right: 1px solid black;
    #workout-title-id {
        color: rgb(125, 4, 255);
    }
}


.aside-section { 
    position: relative;
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #141E30;
    font-size: 1.4em;
    text-shadow: 1px 1px 1px lightcyan;
    h2,
    p {
        font-size: 1em;
    }
}

#sortBy {
    margin-right: 10px;
}

#close {
    display: none;
}

ul#list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style-type: none;
    color: white;
    font-size: 1.2em;

    li {
        background-color:  #2b3d60;
        border-radius: 0.5em;
        box-shadow: 1px 1px 1px #141E30;
        padding: 0.5em;
        margin-top: 1em;
        p {
            span {
                vertical-align: middle;
        }

        span#span-cals {
            color: greenyellow;
        }

        span#span-duration {
            color: red;
        }
    }

    li:hover {
        box-shadow: 2px 2px 2px black;
        opacity: 0.8;
        cursor: pointer;
    }

}
}

ul#list li h3 {
    color: gold;
    text-transform: uppercase;
}

section.aside-section { 
    position: relative;
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h2,
    p {
        font-size: 1em;
    }
}

.sorting {
    position: absolute;
    top: 60%;

}


#title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

@media only screen and (max-width: 767px) {
:host.open {
    display: block;
    width: 100vw;
    z-index: 999999999999999999;

    grid-column: 1 / -1;
}

:host {
    display: none;
}

#close {
    display: block;
}
}