<div *ngIf="dog" id="div">
    <h2><span class="yellow">{{dog.Name | uppercase}}</span> Details</h2>
    <span><span class="red">id:</span> {{dog.Id}}</span>
    <div>
        <label for="dog-name">Dog Name:</label>
        <input id="dog-name" [(ngModel)]="dog.Name" placeholder="name">
    </div>
    <button type="button" (click)="goBack()" id="back">Back</button>
    <button type="button" (click)="save()" id="save">Save</button>
    <button type="button" (click)="deleteDog()" id="delete">Delete</button>
</div>