:host {
    place-content: center;
    width: 100vw;
    height: 100vh;
    
    padding: 0;
    --gradient-bottom: rgb(0, 30, 30);
    --gradient-inner: rgb(16, 75, 43);
    margin: 0;
    overflow: hidden;
    background-color: var(--gradient-bottom);
    cursor: none;
    
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 2px 2px 2px black,
    -2px -2px 2px black;
    color: white;
    position: relative;

    width: 100vw;
    height: 100vh;
    

    padding: 2em;
    
    margin: 0;
   
          /* Postavljanje pozadine sa ponavljajućim linearnim gradijentom */
          background: repeating-linear-gradient(
            0deg,           /* Ugao gradijenta, 0 stepeni znači vertikalne linije */
            rgb(0, 30, 30) 0px,     /* Zelena boja počinje od 0px */
            rgb(0, 30, 30) 1px,      /* Zelena boja se završava na 1px */
            var(--gradient-inner) 1px,       /* Plava boja počinje od 1px */
            var(--gradient-inner) 2px        /* Plava boja se završava na 2px */
        ); 
}


#welcome,
#initializing,
#enter,
#graphics {
    margin: 0;
    color: rgba(97, 255, 97, 0.8);;

    text-shadow: 1px 1px 1px rgba(10, 255, 10, 0.8);;
}

#initializing,
#enter,
#graphics {
    font-family: 'Levir', sans-serif;
    font-size: 1.5em;
}

#initializing a {
    text-decoration: underline;

    color: rgba(97, 255, 97, 0.8);
}

#graphics {
    padding: 0.5em;

    border-top: 3px dotted rgba(97, 255, 97, 0.8);
    border-bottom: 3px dotted rgba(97, 255, 97, 0.8);
}

#welcome pre {
    position: relative;
    transform: translate(-5%, 0);
    animation: welcome 2s 1 ease-in-out, welcomeShining 2s infinite ease-in-out;  /* Correct duration unit to 's' */

}

#start {
    border: none;
    background-color: transparent;

    color: yellowgreen;
    outline: none;
    caret-color: transparent;
    text-align: center;

    animation: startTyping 1s infinite ease-in-out;
}


@keyframes startTyping {
    0% {
        opacity: 0;
    }


    100% {

        opacity: 1;
    }
}

@keyframes welcome {
    0%, 50% {  /* Consolidated for efficiency and clarity */
        transform: scale(4);
    }
    100% {
        transform: scale(1);
        transform: translate(-5%, 0);
    }
}

@keyframes welcomeShining {
    0% {
        text-shadow: 1px 1px rgba(97, 255, 97, 0.8);
    }

    50%,
    80% {
        text-shadow: 1.5px 1.5px yellow;
    }
    

    100% {
        text-shadow: 1px 1px rgba(10, 255, 10, 0.8);
    }
}

