<div class="wrapper">
    <p id="initializing">Initializing Andrej's Portfolio 2024 v0.0.1
        Copyright &copy 2024 Andrej Mishev <a href="mailto:ano.mishev@gmail.com">ano.mishev@gmail.com</a></p>
    <h1 id="welcome"><pre>
        &#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;&#46;
        
        @@@  @@@  @@@  @@@@@@@@  @@@        @@@@@@@   @@@@@@   @@@@@@@@@@   @@@@@@@@
        @@@  @@@  @@@  @@@@@@@@  @@@       @@@@@@@@  @@@@@@@@  @@@@@@@@@@@  @@@@@@@@
        @@!  @@!  @@!  @@!       @@!       !@@       @@!  @@@  @@! @@! @@!  @@!     
        !@!  !@!  !@!  !@!       !@!       !@!       !@!  @!@  !@! !@! !@!  !@!     
        @!!  !!@  @!@  @!!!:!    @!!       !@!       @!@  !@!  @!! !!@ @!@  @!!!:!  
        !@!  !!!  !@!  !!!!!:    !!!       !!!       !@!  !!!  !@!   ! !@!  !!!!!:  
        !!:  !!:  !!:  !!:       !!:       :!!       !!:  !!!  !!:     !!:  !!:     
        :!:  :!:  :!:  :!:        :!:      :!:       :!:  !:!  :!:     :!:  :!:     
         :::: :: :::    :: ::::   :: ::::   ::: :::  ::::: ::  :::     ::    :: ::::
          :: :  : :    : :: ::   : :: : :   :: :: :   : :  :    :      :    : :: :: 
        </pre></h1>
    <p id="graphics">Thank you for taking the time to visit. Enjoy browsing through the content of my portfolio!</p>
    <p id="enter">Type 'start' and press 'enter' to enter my portfolio</p>
    <input (keyup.enter)="openHome()" [formControl]="enter" id="start" type="text" placeholder="&#124;">
</div>
