h2 {
    text-align: center;
    color: greenyellow;
}

a {
    text-decoration: none;
    font-size: 1.6em;
    color: rgb(76, 21, 128);
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#btn {
    all: unset;
    color: black;
    padding-left: 0.3em;
    font-family: 'Levir';
    font-size: 2em;
    width: 0px;
    height: 0px;

}

#btn:hover {
    cursor: pointer;
}

#add-dog {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 1.5em;
    padding: 0.5em;
    right: 0;
    top: 25%;
    width: 250px;
    background-color: rgb(61, 16, 61);
    display: flex;
    flex-direction: column;

    p {
        display: flex;
        flex-direction: column;
    }
}

.add-dog {
    position: relative;
    background-color: lightgreen;
    font-size: 1.1em;
    border: none;
    font-family: 'Levir';
}

.add-dog:hover {
    opacity: 0.8;
    cursor: pointer;
}

#add-button {
    border: none;
    color: white;
    font-size: 0.7em;
    top: 0;
    right: 0;
    position: absolute;
    font-family: 'Levir';
    width: 20px;
    background-color: tomato;
    cursor: pointer !important;
}
