
  
  .eyes {
    position: relative;
    top: -10px;
    display: flex;
  }
  
  .eyes .eye {
    position: relative;
    width: 80px;
    height: 80px;
    display: block;
    background: white;
    border-radius: 50%;
    margin: 0 5px;
  }
  
  .eyes .eye::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: black;
  }

  

@media all and (min-width: 350px) and (max-width: 1108px) {
  .eyes {
    display: none;
  }
}
