<app-eyes></app-eyes>
<section [ngClass]="{ 'active-class': isModalOpen }">
<app-logo id="logo" *ngIf="!isModalOpen">
</app-logo>
<section id="info">
    <div id="left">
        <div id="my-info">
            <ul *ngIf="!isModalOpen">
                <li class="hover-green">Welcome to my portfolio</li>
                <li class="hover-green links">
                    <a href="https://www.linkedin.com/in/andrej-mishev/" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a href="https://github.com/AnoMishev" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </li>
            </ul>
            <ul class="about-list" [ngClass]="{ 'active': isModalOpen }">
                <li>
                    <span>01</span>
                    <a (click)="openModal()">About Me</a>
                </li>
                <li>
                    <span>02</span>
                    <a href="mailto:andrej.mishev10@gmail.com">Contact Me</a>
                </li>

            </ul>
            <span id="checkout">#TIP => checkout my gorilla app on github.</span>
        </div>
        </div>
</section>
<p *ngIf="isModalOpen" id="aboutme">
    As a young and passionate individual eager to begin my career in web development, I am driven by a strong desire to learn and grow. While I may not have formal work experience yet, I have dedicated myself to building a solid foundation in web technologies and design principles.
                I am enthusiastic about the opportunity to work in a professional environment where I can contribute, learn from experienced developers, and take on new challenges. My dedication, creativity, and problem-solving skills allow me to quickly adapt and thrive in new situations.
                I am committed to continuously improving my skills and staying updated with the latest trends in the industry. I am confident that my energy, eagerness to learn, and passion for web development will make me a valuable asset to any team.
                <a href="../../../../assets/docs/Andrej Mishev ENGLISH CV.pdf" download="Andrej_Mishev_CV.pdf" id="download">Download my CV</a>
            </p>
</section>