:host {
    background-color: black;
    overflow: hidden;
}
h2 {
    position: relative;
    white-space: nowrap; /* Prevents text wrapping to a new line */
    color: var(--main-clr);
    font-size: 2vw;
    margin: 0;
    animation: header-title 27s linear infinite;
    padding-right: 100vw; /* Add padding equal to the viewport width to ensure text stays in view */
    font-family: 'Levir';
}


@keyframes header-title {
    0% {
        transform: translateX(100%);  /* Start just off the right side of the screen */
    }

    100% {
        transform: translateX(calc(-100% - 100vw)); /* Move the text just off the left side */
    }
}





@media only screen and (max-width: 767px) {
    h2 {
        font-size: 4vw;
    }
}



@media only screen and (min-width: 768px) and (max-width: 1023px) {

}