:host {
    background-color: black;
    overflow: hidden;
}

h2 {
    position: relative;

    color: var(--main-clr);
    text-transform: uppercase;
    font-size: 2vw;
    margin: 0;
    animation: header-title 27s linear infinite;
}


@keyframes header-title { 
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}


@media only screen and (max-width: 767px) {
    h2 {
        font-size: 4vw;
    }
}
