<header>
    <h2>
        <span class="yellow">&lt;</span> welcome to my website <span class="yellow">&gt;</span>
        &nbsp;
        <span class="yellow">&lt;</span> fell <span class="yellow">free</span> to mail me <span class="yellow">&gt;</span>
        &nbsp; 
        <span class="yellow">&lt;</span> fun fact about javaScript <span class="yellow">&gt;</span>  
        &nbsp;
        <span class="yellow">&lt;</span> did you know that the first version of JavaScript is written in 10 days ? <span class="yellow">&gt;</span>
    </h2>
</header>