:host {
    background-color: #4801ff;
    font-family: 'Levir';
}


@media all and (min-width: 350px) and (max-width: 1108px) {
    :host {
        display: flex;
        flex-direction: column;
        app-header {
            align-self: flex-start;
        }
        app-main {
            align-self: flex-end;
        }
    }

    app-header,
    app-main {
        width: 100vw;
        height: 100vh;
    }
  }

