:host {
    display: grid;
    width: 100vw;
    height: 100vh;

    grid-template-rows: 2vw 1fr auto;

}


outlet-header {
    z-index: 999999999999999999;
}

@media only screen and (max-width: 767px) {
    :host {
    grid-template-rows: 5vw 1fr auto;
    }
}
