@font-face {
    font-family: 'Levir';
    src: url('../fonts/levi-adobe-dia/adobe-dia.ttf');
};

@font-face {
    font-family: 'Bytes';
    src: url('../fonts/256-bytes/256 bytes.otf');
};


@font-face {
    font-family: 'Notalot';
    src: url('../fonts/notalot35/notalot35.ttf');
};

@font-face {
    font-family: 'Para';
    src: url('../fonts/paraaminobenzoic/paraaminobenzoic.otf');
};
