<section id="front-page">
    <div class="numbers">
        <ul>
            <li *ngFor="let number of [].constructor(25); let i = index">{{ i + 1 }}</li>
          </ul>
    </div>
    <button id="btnPhone" routerLink="/home">X</button>
    <div class="info">
        <div class="name">
            <h1><span class="light-blue">&lt;</span> cv <span class="light-blue">&gt;</span></h1>
            
            <h2>Andrej Mishev</h2>
            <p>&lpar; JUNIOR_FRONT_END_WEB_DEVELOPER &rpar;</p>
        </div>
        <div class="receiver">
            <h3 id="name-of-receiver">Name of receiver</h3>
            <h2 id="title">Front-End JavaScript Developer</h2>
            <div class="list-wrap">
                <ul id="list-name">
                    <li>Phone</li>
                    <li>Email</li>
                    <li>Website</li>
                </ul>
                <ul id="list-info">
                    <li>: +389 999 555 111</li>
                    <li>: company@email.com</li>
                    <li>: company-website.com.mk</li>
                </ul>
            </div>
            <p id="date">{{ currentDate }}</p>
        </div>
        <div class="message">
            <h2 id="message-title">Dear Visitor</h2>
            <p id="msg">As a young and passionate individual eager to begin my career in web development, I am driven by a strong desire to learn and grow. While I may not have formal work experience yet, I have dedicated myself to building a solid foundation in web technologies and design principles.

                I am enthusiastic about the opportunity to work in a professional environment where I can contribute, learn from experienced developers, and take on new challenges. My dedication, creativity, and problem-solving skills allow me to quickly adapt and thrive in new situations.
                
                I am committed to continuously improving my skills and staying updated with the latest trends in the industry. I am confident that my energy, eagerness to learn, and passion for web development will make me a valuable asset to any team.</p>
            <p><span id="sincelery">Sincelery,</span><br>Andrej Mishev</p>
        </div>
    </div>

</section>
<button routerLink="/home" id="btn-normal">HOME</button>
<section id="back-page">
    <div class="numbers">
        <ul>
            <li *ngFor="let number of [].constructor(25); let i = index">{{ i + 1 }}</li>
          </ul>
    </div>

    <div class="info backpage">
        <div class="name backname">
            <h1><span class="light-blue">&lt;</span> cv <span class="light-blue">&gt;</span></h1>
            <h2>Andrej Mishev</h2>
            <p>&lpar; JUNIOR_FRONT_END_WEB_DEVELOPER &rpar;</p>
        </div>
        <div class="contact-information">
            <h2 id="red">/contact information</h2>
            <div class="contact-info">
                <ul class="info-name">
                    <li>Andrej Mishev</li>
                    <li>Gjorgji Pulevski 13, <br> Kochani</li>
                </ul>
                <ul class="info-info">
                    <li>ano.mishev@gmail.com</li>
                    <li>+389 70 405 645</li>
                    <li>@andrej-mishev</li>
                </ul>
            </div>
        </div>
        <div class="languges">
            <h2 id="red">/languages</h2>
            <ul>
                <li><span id="blue">macedonian</span> <span id="language">( native language )</span></li>
                <li><span id="blue">english</span> <span id="language">( fluent )</span></li>
                <li><span id="blue">slovenian</span> <span id="language">( fluent )</span></li>
                <li><span id="blue">serbian/croatian</span> <span id="language">( fluent )</span></li>
            </ul>
        </div>
        <div class="interests">
            <h2 id="red">/interests</h2>
            <ul>
                <li id="language">coding</li>
                <li id="language">boxing and being active</li>
                <li id="language">reading</li>
                <li id="language">swimming</li>
                <li id="language">playing with my dog</li>
            </ul>
        </div>
        <div class="professional-skills">
            <h2 id="red">/proffesional skills</h2>
            <ul>
                <li id="language">javascript</li>
                <li id="language">html/css/scss/sass</li>
                <li id="language">typescript</li>
                <li id="language">angular</li>
                <li id="language">git</li>
                <li id="language">photoshop</li>
                <li id="language">figma</li>
            </ul>
        </div>
        <div class="awards">
            <h2 id="red">/references</h2>
            <dl>
                <dt id="blue">Royal Taxi</dt>
                <dd id="language">Taxi Driver 2019-2020</dd>

                <dt id="blue">LTH Castings</dt>
                <dd id="language">Aluminium Casting 2020-2022</dd>
                
                <dt id="blue">Intec MKD</dt>
                <dd id="language">CNC Programmer 2022-2024</dd>
            </dl>
        </div>
    </div>
</section>
